form {
  background-color: whitesmoke;
  border-radius: 8px;
  min-width: 300px;
  padding: 5px;
  margin-top: 15vh;
}

.form-box {
  min-width: 350px;
  max-width: 600px;
  margin: 0px auto;
}

.form-group {
  margin-left: 25px;
  margin-right: 25px;
  padding: 15px;
}

.form-button {
  width: 120px;
}
