form {
  background-color: whitesmoke;
  border-radius: 8px;
  width: 40%;
  min-width: 350px;
  padding: 5px;
}

.form-group {
  margin-left: 25px;
  margin-right: 25px;
  padding: 15px;
}

.box {
  padding-top: 50px;
}

.form-button {
  width: 120px;
}
